.network {
  height: 100%;
  color: rgb(185, 255, 255);
  font-family: "Times New Roman", "Times", serif;

  .wrapper {
    max-width: 540px;
    margin: 0 auto;
  }

  h1,
  h2 {
    text-align: center;
  }
}
